<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Roniz.Networking.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Roniz.Networking.Service.Properties.Settings>
      <setting name="ListenPortV4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ListenPortV6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BacklogV4" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BacklogV6" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ExternalIpv4Address" serializeAs="String">
        <value />
      </setting>
      <setting name="HearthBitInterval" serializeAs="String">
        <value>00:10:00</value>
      </setting>
    </Roniz.Networking.Service.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name="NetPeerTcpBindingUnsecure">
          <security mode="None" />
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <!--You can change here the mesh address to support specific needs-->
      <endpoint address="net.p2p://Roniz.WCF.P2P.Sync.DefaultMeshAddress" binding="netPeerTcpBinding" bindingConfiguration="NetPeerTcpBindingUnsecure" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="SyncDefaultEndpointConfigurationName" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>