<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
    <switches>
      <add name="Remote.Disable" value="1" />
    </switches>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics performanceCounters="Off" />
    <bindings>
      <netTcpBinding>
        <binding name="NetTCPNoSecurity">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <!--for service presence p2p-->
      <netPeerTcpBinding>
        <binding name="netPeerTcpNoSecurity">
          <security mode="None" />
        </binding>
        <binding name="NetPeerTcpBindingUnsecure">
          <security mode="None" />
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="net.tcp://localhost:8732/Roniz.Networking.Service/ServiceResolver"
          binding="netTcpBinding" bindingConfiguration="NetTCPNoSecurity"
          contract="Roniz.Networking.Common.IAddressResolver" name="resolver"
          kind="" endpointConfiguration="">
      </endpoint>-->
      <!--for service presence p2p-->
      <endpoint address="net.p2p://Roniz.Networking.Service.ServiceResolver" binding="netPeerTcpBinding" bindingConfiguration="netPeerTcpNoSecurity" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="Roniz.Networking.Presence" kind="" endpointConfiguration="" />
      <endpoint address="net.p2p://Roniz.WCF.P2P.Sync.DefaultMeshAddress" binding="netPeerTcpBinding" bindingConfiguration="NetPeerTcpBindingUnsecure" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="SyncDefaultEndpointConfigurationName" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Roniz.WCF.P2P.Messages.Presence.FullPresenceInfo, Roniz.WCF.P2P.Messages">
          <knownType type="Roniz.Networking.Common.Presence.NetworkingFullPresenceInfo,Roniz.Networking.Common" />
        </add>

        <add type="Roniz.WCF.P2P.Sync.Messages.BusinessLogic.BusinessLogicMessageBase, Roniz.WCF.P2P.Sync">
          <knownType type="Roniz.Networking.Common.Presence.SynchronizationKeys,Roniz.Networking.Common" />
          <knownType type="Roniz.Networking.Common.Presence.SynchronizationDetail,Roniz.Networking.Common" />
          <knownType type="Roniz.Networking.Common.Presence.UpdateServiceResolverMessage,Roniz.Networking.Common" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->
</configuration>